/* importando fuentes */
@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
@import url("http://fonts.googleapis.com/css?family=Tangerine");

/* estilos generales */
*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Mystery Quest", cursive;
  font-size: 100%;
  background: url("../img/body2.gif");
  background-attachment: fixed;
}
.clearfix{
  float: none;
  clear: both;
}
/* Barra de navegacion  (header )*/

header{
  display: block;
  width: 100%;
  height: 90px;
  background:  rgba(41, 129, 144, 0.8);
  position: fixed;
  text-transform: uppercase;

}


header ul {
  display: block;
  width: 750px;
  height: inherit;
  margin: 0px auto;

}
header li {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 90px;
}

header a{
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: white;
  transition: all 300ms;
}
.logo a:hover {
  background:rgba(85, 129, 144, 0.8);
  color: yellow;
  font-size: 30px;
  cursor: pointer;
}

header a:hover , .active{

  color: black;
  background:rgba(85, 129, 144, 0.8);
}

/* contenedor principal*/
#content{
  min-height: 440px;
  width: 75%;
  margin: 0px auto;
  box-shadow: 0px 0px 100px black;
  background: rgba(255,255,255,0.7);
  padding-top: 120px;
  border-left: 1px solid #b7b7b7;


}


/* íe de p'agina */
footer{
    padding-top: 25px;
    width: 100%;
    margin: 0px auto;
    color: white;
    background:rgba(41, 129, 144, 0.8);
    height: 50px;
    padding-left: 250px;

}
footer:hover{
  color: black;
  background:rgba(200, 129, 144, 0.8);
}


/* sobre mi  */
#title{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

#title h1{
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
}

article.about{

  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}
.about h2{
  border-bottom: o0x solid #ccc;
  padding-top: 5px;
}


/* create form */
.create{
  width: 80%;
  margin: 0 auto;
}
form p {
  margin: 20px;
}


form input {
  width: 100%;
}
